html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.calculator-container {
    background-color: #adb1b8;
    display: flex;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    height: 550px;
    width: 375px;
}